@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --primary-color: #121b2c;
  --hover-color: #0c0e11;
  --p-color: #818181;
  --dark-color: #191B1F;
  --white-color: #F7F9FA;
}

body.dark {
  background: #191B1F;
  --dark-color: #F7F9FA;
  --white-color:#191B1F;
  --primary-color: white;
  --hover-color: #0c0e11;
}

*{
  font-family: 'Inter', sans-serif;
}

